<div  ng-controller='sportsCtrl'>
    <div id="mySidenav" class="sidenav">
       <h4 data-toggle="collapse" href="#collapse1">CATEGORY</h4>
      <div id="collapse1" class="collapse">
        <ul class='list-unstyled' style='margin-left: 5%;'>
          <li > <label ui-sref='electronicsState' >Electronics</label></li>
          <li >  <label ui-sref="fashionState" >Fashion</label></li>
          <li >  <label ui-sref="cyclesState" >Cycles</label></li>
        </ul>
        </div>
 <h4 data-toggle="collapse" href="#collapse2">FILTERS</h4>
        <div id="collapse2" class="collapse">
        <b>GAMES</b>  <i  class='glyphicon glyphicon-chevron-up' data-toggle="collapse" data-target="#demo"></i>
     <ul id="demo" class="collapse in" style="list-style-type: none;">
        <li ng-repeat='sport in sports'>
        <input type='checkbox' ng-model="sportArray[$index]" ng-true-value="'{{sport}}'" ><label class='capitalize'> {{sport}}</label>
        </li>
     </ul> 
         <b>PRICE</b>
       <p> {{priceSlider.value}}</p>
        <rzslider  style="width: 70%;margin-left: 5%;" rz-slider-model="priceSlider.minValue" rz-slider-high="priceSlider.maxValue" rz-slider-options="priceSlider.options"></rzslider>
    </div>
    </div>

         <div class='row topNav-Small remove-Padding'>
     <div class='col-xs-12'>
     <div class='row remove-Padding fixed-Top'>
       <div class='col-xs-4'>
        <a ui-sref="electronicsState">Electronics</a>
       </div>
       <div class='col-xs-4'>
        <a ui-sref="fashionState">Fashion</a>
       </div>
       <div class='col-xs-4'>
        <a ui-sref="cyclesState">Cycles</a>
       </div>
     </div>
     <hr class='remove-Padding'/>
     <div class='row '>
        <div class='col-xs-4' ng-repeat='sport in sports'>
        <input type='checkbox' ng-model="sportArray[$index]" ng-true-value="'{{sport}}'" ><label class='capitalize'> {{sport}}</label>
        </div>
     </div>
      <div class='row '>
       <div class='col-xs-10 '>
             <p> {{priceSlider.value}}</p>
        <rzslider  style="width: 110%;margin-left: 5%;" rz-slider-model="priceSlider.minValue" rz-slider-high="priceSlider.maxValue" rz-slider-options="priceSlider.options"></rzslider>
       </div>
     </div>
     </div>
     </div>



    <div class="main" style="margin-top: 2%">
     <div class='headings'>
    <div ng-model='head'  ng-show='(allSports | customFilterSport: sportArray | filter : priceRange  | orderBy:"price").length'>Showing {{(allSports | customFilterSport: sportArray | filter : priceRange  | orderBy:"price" ).length}} Products out of {{allSports.length}} Products
    </div> 
    <div  align='center'  ng-model='noData' ng-show='!(allSports | customFilterSport: sportArray | filter : priceRange  | orderBy:"price").length'>
    <div class='row'>
    <div class='col-xs-6 col-xs-offset-1 col-sm-4 col-sm-offset-2'>
    <img src='assets/images/noDataFound.png'>
    </div>
    <div class='col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-1 '  style='margin-top: 15%'>
  <h4>    Sorry , Product similar to your search will be tried to made available soon.</h4>
    </div>
    </div>
    </div>
    </div>
        <section class='flex grid'>
            <div class='row'>
                <div ng-repeat='items in allSports | customFilterSport: sportArray | filter : priceRange  | orderBy:"price"' class='col-xs-10 col-xs-ofset-1 col-sm-5 col-md-5 col-lg-4 item-Cards-Small' >
                    <div class='row remove-Padding'>
                        <div class='col-xs-4'>
                            <img src='{{items.image[0]}}' class='sports-Item-Image' 
                            >
                        </div>
                        <div class='col-xs-6 col-xs-offset-1 description-Text'>
                            <span><b> {{items.name}}</b> </span><br/>
                            <ul>
                            <li><b>  {{items.price}} &#8377 </b><br/></li>     
                            <li> {{items.features.color}} </li>
                            <li> {{items.features.material}} </li>
                            <li> {{items.features.weight}} </li>
                            </ul>
                             <div class='row remove-Padding'>
                            <div class='col-xs-10 col-xs-offset-1'>
                            <input type='button' class="btn btn-primary" value='Details' ng-click='viewDetails(items.uid)'>
                            </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>